<!-- This partial is included in ejs template of all 5 pages -->

 <!-- Bottom Bar -->
  <footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
  
    <p class=" navbar-text font-size:1.8rem"style="margin-left: 55rem"> © 2022 | ASR Limited | All Rights Reserved | Be a visionary</p>
  </nav>
  </footer>