<!-- This partial is included in ejs template of all 5 pages -->

 <!-- Top Navigation Bar-->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color:rgba(192, 125, 247, 0.678)">
      <a class="navbar-brand" href="/"><img src ="logo.png" alt =""> </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav" style="margin-left: 10rem ; font-size: 30px;">
        <a class="nav-link" style="margin-left: 10rem ; font-size: 30px;" href="/home"><i class="fas fa-laptop-house"></i>    Home</a>
        <a class="nav-link" style="margin-left: 10rem " href="/about"><i class="fas fa-info"></i>    About Me</a>
        <a class="nav-link" style="margin-left: 10rem" href="/projects"> <i class="fab fa-elementor"></i>    Projects</a>
        <a class="nav-link" style="margin-left: 10rem" href="/services"><i class="fas fa-user-cog"></i>    Services</a>
        <a class="nav-link" style="margin-left: 10rem" href="/contact"><i class="fas fa-phone"></i>    Contact</a>
        <br>
        
    </div>
  </nav>
