<%include partials/header.ejs%>
 <%include partials/top_nav_bar.ejs%>

  <!-- Main Content is displayed using container-fluid -->
  <main>
  <div class ="container-fluid">
  <br><br>
  <!-- Displaying the welcome message -->

    <h1 class="display-8"> Welcome to the My Express Portfolio </h1>
    <br><br>
    <br>
  </div>
  <br><br>
  <!-- Displaying Mission Statement  -->
   <div class ="container" >
    <p><br> 
    <h4 style="margin-top: 8rem ; color: white ; font-size: 50px;"> <b>-----Welcome to my Portfolio-----</b><br></h4>
    <p><h5><p style="color: white;"> Hello I'm Akhil. This is my Portfolio. i love to design and discover all of creativefield such as graphics design, UI/UX, web design, Android Application. Currently I'm expanding my knowledge at Centennial College.
  </p></h5>
    </p>
    <br>
    <h5 ><b><p style="color: white;">"Everybody in this country should
      learn to program a computer..
      because it teaches you how to think" - Steve Jobs</b></h5>
    <br>
    </p> 
  </div>
  <br>
  <!-- Link to About Page -->
  <h4 style ="text-align:end"> <a href="<%= next %>" role="button" class="btn btn-link"><b>Next-></b> </a></h4>
  
  </main>
  
  <%include partials/bottom_nav_bar.ejs%>
  <%include partials/footer.ejs%>



